@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
    .wrap-word{
        word-wrap: break-word;
    }

    .wrap-all{
        word-break: break-all;
    }

    .whitespace-breakspaces{
        white-space: break-spaces;
    }

    .purple-shadow{
        box-shadow: 10px 10px 0 0 #6d28d9;
    }
}


.letters-merged{
    letter-spacing: 0;
}
@media screen and (min-width: 1024px){
    .letters-merged{
        letter-spacing: -12px;
    }
}


*{
    font-family: 'Montserrat', sans-serif;

    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
